In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import numpy as np

In [6]:
path = 'E:\\Kaggle temp\\'

In [12]:
train = pd.read_csv(path+'train.csv')
print(train.shape)
train.head()

(7377418, 6)

,msno,song_id,source_system_tab,source_screen_name,source_type,target
0,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,BBzumQNXUHKdEBOB7mAJuzok+IJA1c2Ryg/yzTF6tik=,explore,Explore,online-playlist,1
1,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,bhp/MpSNoqoxOIB+/l8WPqu6jldth4DIpCm3ayXnJqM=,my library,Local playlist more,local-playlist,1
2,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,JNWfrrC7zNN7BdMpsISKa4Mw+xVJYNnxXh3/Epw7QgY=,my library,Local playlist more,local-playlist,1
3,Xumu+NIjS6QYVxDS4/t3SawvJ7viT9hPKXmf0RtLNx8=,2A87tzfnJTSWqD7gIZHisolhe4DMdzkbd6LzO1KHjNs=,my library,Local playlist more,local-playlist,1
4,FGtllVqz18RPiwJj/edr2gV78zirAiY/9SmYvia+kCg=,3qm6XTZ6MOCU11x8FIVbAGH5l5uMkT3/ZalWG1oo2Gc=,explore,Explore,online-playlist,1

In [13]:
members = pd.read_csv(path+'members.csv')
print(members.shape)
members.head()

(34403, 7)

,msno,city,bd,gender,registered_via,registration_init_time,expiration_date
0,XQxgAYj3klVKjR3oxPPXYYFp4soD4TuBghkhMTD4oTw=,1,0,NaN,7,20110820,20170920
1,UizsfmJb9mV54qE9hCYyU07Va97c0lCRLEQX3ae+ztM=,1,0,NaN,7,20150628,20170622
2,D8nEhsIOBSoE6VthTaqDX8U6lqjJ7dLdr72mOyLya2A=,1,0,NaN,4,20160411,20170712
3,mCuD+tZ1hERA/o5GPqk38e041J8ZsBaLcu7nGoIIvhI=,1,0,NaN,9,20150906,20150907
4,q4HRBfVSssAFS9iRfxWrohxuk9kCYMKjHOEagUMV6rQ=,1,0,NaN,4,20170126,20170613

In [14]:
songs = pd.read_csv(path+'songs.csv')
print(songs.shape)
songs.head()

(2296320, 7)

,song_id,song_length,genre_ids,artist_name,composer,lyricist,language
0,CXoTN1eb7AI+DntdU1vbcwGRV4SCIDxZu+YD8JP8r4E=,247640,465,張信哲 (Jeff Chang),董貞,何啟弘,3.0
1,o0kFgae9QtnYgRkVPqLJwa05zIhRlUjfF7O1tDw0ZDU=,197328,444,BLACKPINK,TEDDY| FUTURE BOUNCE| Bekuh BOOM,TEDDY,31.0
2,DwVvVurfpuz+XPuFvucclVQEyPqcpUkHR0ne1RQzPs0=,231781,465,SUPER JUNIOR,NaN,NaN,31.0
3,dKMBWoZyScdxSkihKG+Vf47nc18N9q4m58+b4e7dSSE=,273554,465,S.H.E,湯小康,徐世珍,3.0
4,W3bqWd3T+VeHFzHAUfARgW9AvVRaF4N5Yzm4Mr6Eo/o=,140329,726,貴族精選,Traditional,Traditional,52.0

In [15]:
song_extra_info = pd.read_csv(path+'song_extra_info.csv')
print(song_extra_info.shape)
song_extra_info.head()

(2295971, 3)

                                        song_id             name          isrc
0  LP7pLJoJFBvyuUwvu+oLzjT+bI+UeBPURCecJsX1jjs=               我們  TWUM71200043
1  ClazTFnk6r0Bnuie44bocdNMM3rdlrq0bCGAsGUWcHE=  Let Me Love You  QMZSY1600015
2  u2ja/bZE3zhCGxvbbOB3zOoUjx27u40cf5g09UXMoKQ=              原諒我  TWA530887303
3  92Fqsy0+p6+RHe2EoLKjHahORHR1Kq1TBJoClW9v+Ts=          Classic  USSM11301446
4  0QFmz/+rJy1Q56C1DuYqT9hKKqi5TUqx0sN0IwvoHrw=             愛投羅網  TWA471306001

In [16]:
df = train.merge(members, left_on = 'msno', right_on = 'msno', how = 'left')
print(df.shape)
df = df.merge(songs, left_on = 'song_id', right_on = 'song_id', how = 'left')
print(df.shape)

(7377418, 12)
(7377418, 18)

In [41]:
df.dtypes

msno                      object
song_id                   object
source_system_tab         object
source_screen_name        object
source_type               object
target                    object
city                      object
bd                        object
gender                    object
registered_via            object
registration_init_time    object
expiration_date           object
song_length               object
genre_ids                 object
artist_name               object
composer                  object
lyricist                  object
language                  object
dtype: object

In [43]:
df = df.drop('registration_init_time',1)
df = df.drop('expiration_date',1)

for i in df.columns:
    df[i] = df[i].astype(str)

In [33]:
from sklearn.decomposition import FactorAnalysis

MCA = FactorAnalysis()

MCA.fit(df)

ValueError: could not convert string to float: 'Robert Andrew Hyman| Cyndy Lauper'

In [44]:
df.apply(lambda x: len(x.unique()),axis=0)

msno                   30755
song_id               359966
source_system_tab         10
source_screen_name        21
source_type               13
target                     2
city                      21
bd                        92
gender                     3
registered_via             5
song_length            60267
genre_ids                573
artist_name            40583
composer               76065
lyricist               33890
language                  11
dtype: int64